<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 
  <!-- Define properties -->
  <Properties>
    <Property name="basePath">./logs</Property>    <!-- in logs folder it will generate-->
  </Properties>

  <Appenders>             <!-- will decide wher to generate logs file /console-->
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
     
        <PatternLayout pattern ="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!-- Rolling File Appender using properties -->
    <RollingFile name="File" fileName="${basePath}/automation.log" 
    filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
       <PatternLayout Pattern="%d{HH:mm:ss.SSS} [%t] %-5level %loggger{36} - %msg%n"/>
         <SizeBasedTriggeringPolicy size="10MB"/>
         </RollingFile>


  </Appenders>

  <Loggers>               <!-- Will devide the type of logs --><!-- we need to specify type of logs and ref-->
    <!-- Root logger references the console and rolling appenders -->
    <Root level="info"> <!-- whic ever we want we can mention - info -debug ...-->
      <!--<AppenderRef ref="Console"/> -->
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>

</Configuration>